<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.wenyi.selectimg">

    <application >
        <activity android:name="com.wenyi.selectimg.PhotoPickActivity" android:theme="@style/MyTheme"/>
        <activity android:name="com.wenyi.selectimg.PhotoPickDetailActivity" android:theme="@style/MyTheme"/>
    </application>

</manifest>
